/* Footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: space-around;
    padding: 50px;
    background: #ffe23f;
    font-family: 'Josefin Sans', sans-serif
}
.contact{
    font-family: 'Josefin Sans', sans-serif;
}
.about{
    font-family: 'Josefin Sans', sans-serif;
}
.about li{
    list-style-type: none ;
}
.about li a{
    color: black ;
    font-size: 20px;
    text-decoration:none ;
}
.about a:hover{
    color: blue;
    transition: 0.7s;
    font-weight: 800;
}
.about-1 ul{
    padding: 0;
}
.about-1 ul li{
    list-style-type: none;
}
.about-1 ul li a{
    color: black;
}